In [6]:
import MetaTrader5 as mt5
from datetime import datetime
import pandas as pd


pd.set_option('display.max_columns', 500) # number of columns to be displayed
pd.set_option('display.width', 1500)      # max table width to display

# display data on the MetaTrader 5 package
print("MetaTrader5 package author: ",mt5.__author__)
print("MetaTrader5 package version: ",mt5.__version__)
print()
# establish connection to the MetaTrader 5 terminal
if not mt5.initialize():
    print("initialize() failed, error code =",mt5.last_error())
    quit()
 
# get the number of deals in history
from_date=datetime(2020,1,1)
to_date=datetime.now()
# get deals for symbols whose names contain "GBP" within a specified interval
deals = mt5.history_deals_get(from_date, to_date)
if deals == None:
    print("No deals with group=\"*USD*\", error code={}".format(mt5.last_error()))

elif len(deals)> 0:
    print("history_deals_get({}, {}, group=\"*GBP*\")={}".format(from_date,to_date,len(deals)))
 
# get deals for symbols whose names contain neither "EUR" nor "GBP"
deals = mt5.history_deals_get(from_date, to_date, group="*,!*EUR*,!*GBP*")
if deals == None:
    print("No deals, error code={}".format(mt5.last_error()))
elif len(deals) > 0:
    # display these deals as a table using pandas.DataFrame
    df=pd.DataFrame(list(deals),columns=deals[0]._asdict().keys())
    df['time'] = pd.to_datetime(df['time'], unit='s')
print("")
 
# shut down connection to the MetaTrader 5 terminal
mt5.shutdown()

MetaTrader5 package author:  MetaQuotes Ltd.
MetaTrader5 package version:  5.0.4288

history_deals_get(2020-01-01 00:00:00, 2024-10-12 11:00:16.084638, group="*GBP*")=147

True

In [19]:
import numpy as np
df = df[df.reason == 3]
df['comment'] = df['comment'].apply(lambda x: x.split('_')[0].upper())

df[(df.time >= '2024-09-20') & (df.profit != 0)].groupby('comment').agg({
    'ticket':'count',
    'profit':['median', 'mean', 'std'],

})

        ticket  profit
         count  median    mean        std
comment
BBANDS       1   4.610   4.610        NaN
EOM          2  13.165  13.165  11.349064
MACD         3   0.070   0.050   0.160935
VIX          4   0.150   0.120   0.425363

In [15]:
df['profitable'] = 0
df['profitable'] = np.where(df.profit > 0, 1, df['profitable'])
df['profitable'] = np.where(df.profit < 0, -1, df['profitable'])

df[df.time >= '2024-09-20'].profitable.value_counts()

 0    23
 1     8
-1     2
Name: profitable, dtype: int64

In [18]:
df[(df.time >= '2024-09-20') & (df.profit != 0)]

       ticket     order                time       time_msc  type  entry   magic  position_id  reason  volume     price  commission  swap  profit  fee  symbol comment external_id  profitable
72   44017432  79020729 2024-09-25 17:00:00  1727283600202     1      1  234000     77294892       3    0.01    217.40         0.0 -0.20    4.61  0.0    CMEm  BBANDS                       1
82   44588460  79875182 2024-09-30 16:00:07  1727712007041     1      1  234000     79848135       3    0.03   5744.09         0.0  0.00    0.29  0.0  US500m     VIX                       1
83   44588461  79875184 2024-09-30 16:00:07  1727712007339     1      1  234000     79560432       3    0.01  20013.16         0.0  0.00   -0.41  0.0  USTECm     VIX                      -1
85   44726741  80057997 2024-10-01 14:06:41  1727791601805     1      1  234000     78679335       3    0.01    579.77         0.0 -0.70   21.19  0.0   METAm     EOM                       1
91   44934291  80370544 2024-10-02 15:00:12  1727881212545     1      1  234000     80075245       3    0.03   5708.18         0.0  0.00    0.01  0.0  US500m     VIX                       1
92   44934294  80370548 2024-10-02 15:00:12  1727881212825     1      1  234000     80106833       3    0.01  19803.33         0.0  0.00    0.59  0.0  USTECm     VIX                       1
94   45226445  80778913 2024-10-04 14:00:13  1728050413081     0      1  234000     80599898       3    0.01     12.24         0.0 -0.01    0.20  0.0   XPEVm    MACD                       1
98   45455594  81158459 2024-10-07 14:00:03  1728309603541     1      1  234000     79509295       3    0.01    125.85         0.0 -0.23    5.14  0.0   NVDAm     EOM                       1
99   45468497  81172861 2024-10-07 15:00:12  1728313212126     0      1  234000     80835790       3    0.01     12.53         0.0 -0.01    0.07  0.0   XPEVm    MACD                       1
103  46031243  82029430 2024-10-10 14:00:13  1728568813136     0      1  234000     81666880       3    0.01     12.60         0.0 -0.01   -0.12  0.0   XPEVm    MACD                      -1